<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>პითონის ქვიზი</title>
</head>

<body>
    <div class="logo">
        <img class="img-logo" src="photos/pylogo.png" alt="">
    </div>
    <div class="container">
        <div class="first">
            <h1 id="head">პითონის საბაზისო ქვიზი</h1>
            <button class="btn">დაწყება</button>
            <button class="resultBtn">შედეგი</button>
            <button class="playagainBtn">კიდევ სცადეთ</button>
        </div>
        <div class="queAndoptions">
            <h1 class="ques">შეკითხვა N:1</h1>
            <div class="inputs">
                <div class="input">
                    <input type="radio" id="a" name="answer" class="option">
                    <label for="Option1" id="opt1">ვარიანტი 1</label>
                </div>
                <div class="input">
                    <input type="radio" id="b" name="answer" class="option">
                    <label for="Option1" id="opt2">ვარიანტი 1</label>
                </div>
                <div class="input">
                    <input type="radio" id="c" name="answer" class="option">
                    <label for="Option1" id="opt3">ვარიანტი 1</label>
                </div>
                <div class="input">
                    <input type="radio" id="d" name="answer" class="option">
                    <label for="Option1" id="opt4">ვარიანტი 1</label>
                </div>
            </div>
            <div>
                <button class="btn" id="nextQueBtn">შემდეგი შეკითხვა</button>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>